.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.pannelWraper {
  width: calc(100vw - 30px);
  height: 90vh;
  padding: 0px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pannel {
  border-radius: 6px;
  overflow: hidden;
  width: calc((100vw - 30px - 10px)/2);
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  height: 4vh;
  color: white;
  font-size: 15px;
}


