@import './theme.scss';

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.pannelWraper {
  width: calc(100vw - 30px);
  height: 90vh;
  padding: 0px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pannel {
  border-radius: 6px;
  overflow: hidden;
  height: calc((90vh - 10px)/ 2);
  width: calc((100vw - 30px - 10px)/2);
}

.pannel1 {
  margin-right: 10px; 
  margin-bottom: 10px; 
  background-color: $firstPannelBgColor;

  .title {
    background-color: $firstPannelTitleBgColor;
  }
}

.pannel2 {
 margin-bottom: 10px;
 background-color: $secondPannelBgColor;

  .title {
    background-color: $secondPannelTitleBgColor;
  }
}

.pannel3 {
  margin-right: 10px; 
  background-color: $thirdPannelBgColor;

  .title {
    background-color: $thirdPannelTitleBgColor;
  }
}

.pannel4 {
  background-color: $fourthPannelBgColor;

  .title {
    background-color: $fourthPannelTitleBgColor
  }

}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  height: 4vh;
  color: white;
  font-size: 15px;
}


