$firstPannelBgColor: rgb(255,228,222);
$firstPannelTitleBgColor: rgb(248,121,110);

$secondPannelBgColor:rgb(220,239,255);
$secondPannelTitleBgColor:rgb(62,179,221);

$thirdPannelBgColor: rgb(235,242,213);
$thirdPannelTitleBgColor: rgb(141,197,80);

$fourthPannelBgColor: rgb(236, 236, 236);
$fourthPannelTitleBgColor: rgb(165, 165, 165);

$cellSelectedColor: rgba(0,0,0, 0.1);