$firstPannelBgColor: #fc4f4f;
$firstPannelTitleBgColor: #89bdae;

$secondPannelBgColor: #fc4f4f;
$secondPannelTitleBgColor: #89bdae;

$thirdPannelBgColor: #fc4f4f;
$thirdPannelTitleBgColor: #89bdae;

$fourthPannelBgColor: #fc4f4f;
$fourthPannelTitleBgColor: hsla(248, 94%, 25%, 0.887);