.cell {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 30px;

  input {
    background: 'rgba(255,255,255,0)';
    border: none;
  }
}

.selected {
  background-color: $cellSelectedColor;
}